<div class="row">
  <%= form_for(@training) do |f| %>

    <div>
      <fieldset class="fieldset">
        <legend>Barre Type:</legend>
          <% f.label :barre_type %>
          <%= f.collection_radio_buttons(:barre_type_id, @types, :id, :name) %>
      </fieldset>
    </div>

    <div class="columns medium-6">
      <%= f.label :timeslot %>
      <%= f.select(:timeslot_id,options_for_select(@time)) %>
    </div>

    <div class="columns medium-6">
      <%= f.label :date %>
      <%= f.date_field :date %>
    </div>

    <div class="row">
      <div class="columns">
        <fieldset class="fieldset">
          <legend>Instructor:</legend>
            <% f.label :instructor %>
            <%= f.collection_radio_buttons(:instructor_id, @instructors, :id, :full_name)%>
        </fieldset>
      </div>
    </div>

    <div class="small-centered">
      <%= f.submit value="Create Class", :class => "button"%>
    </div>
  <% end %>
</div>
