<divclass="row">
  <%= form_for(@training) do |f| %>

    <div>
      <%= f.label :barre_type, "Name" %>
      <%= f.collection_radio_buttons(:barre_type_id, @types, :id, :name) %>
    </div>

    <div class="columns medium-6">
      <%= f.label :timeslot %>
      <%= f.select(:timeslot_id,options_for_select(@time)) %>
    </div>

    <div class="columns medium-6">
      <%= f.label :date %>
      <%= f.date_field :date %>
    </div>

    <div>
      <%= f.label :instructor %>
      <%= f.collection_radio_buttons(:instructor_id, @instructors, :id, :full_name)%>
    </div>

    <div>
      <%= f.submit value="Create Class", :class => "button"%>
    </div>
  <% end %>
</div>
