<div class="class-form">
  <%= form_for(@training) do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :timeslots %>
      <%= f.select(:timeslot_id,options_for_select(@time)) %>
    </div>

    <div>
      <%= f.label :date %>
      <%= f.date_select :date %>
    </div>

    <div>
      <%= f.label :instructors %>
      <%= f.collection_radio_buttons(:instructor_id, @instructors, :id, :full_name)%>
    </div>

    <div>
      <%= f.submit value="Create Class", :class => "button"%>
    </div>
  <% end %>
</div>
