<div class="row">
  <div class="columns">
    <div class="content-box text-center">
      <h1><%= @training.barre_type.name %></h1>
        <div class="row">
          <div class="large-4 columns">
            <div class="row">
              <h3> <%= @training.instructor.full_name %></h3>
            </div>
            <div class="row">
              <img class="profile_photo", src="<%= @training.instructor.avatar %>">
              <blockquote><%= @training.instructor.bio %></blockquote>
            </div>
          </div>
          <div class="large-4 columns">
            <div class="row">
              <% if current_user.role != "instructor" %>
              <% if current_user.user_histories.include?(@training) || @training.user_histories.empty? %>
              <%= button_to "Reserve", training_user_histories_path(@training), :class => "button" %>
              <% else %>
              <%= button_to "Unreserve", user_history_path(@user_history), method: :delete, :class => "button" %>
              <% end %>
              <% end %>
            </div>
            <div class="row">
              <p><strong>Taught by:</strong> <%= @training.instructor.full_name %><br>
              <strong>On:</strong> <%= @training.date.strftime("%B %d %Y") %><br>
              <strong>At:</strong> <%= @training.timeslot.start_time %> - <%= @training.timeslot.end_time %><br></p>
            </div>
            <% if current_user.role == "instructor" || current_user.role == "admin" %>
            <div class="row">
              <%= button_to "Delete Class", training_path(@training), method: :delete, :class => "button" %>
            </div>
            <div class="row">
              <%= button_to "Update Class", edit_training_path, :class => "button" %>
            </div>
            <% end %>
          </div>
        <div class="large-4 columns">
          <h3><%=  @training.barre_type.name %>: </h3>
          <blockquote><%= @training.barre_type.description %></blockquote>
        </div>
      </div>

      <% if current_user.role == "instructor" || current_user.role == "admin" %>
        <h1> Attendance:</h1>
        <ul>
          <% @users.each do |user| %>
            <li><%= user.first_name %> <%= user.last_name %></li>
            <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
