<div class="row">
  <div class="columns">
    <div class="content-box">
      <div>
        <h1><%= @user.first_name %> <%= @user.last_name %>'s profile</h1>
        <img class="profile_photo", src="<%= @user.avatar %>">
      </div>

    <h3>Class History:</h3>

    <ul class="tabs" data-tabs id="chart-tabs">
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Total Barre Classes</a></li>
      <li class="tabs-title"><a href="#panel2">Barre Classes By Day of the Week</a></li>
      <li class="tabs-title"><a href="#panel3">Barre Classes by Instructor</a></li>
      <li class="tabs-title"><a href="#panel4">Barre Classes By Time</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="chart-tabs">
      <div class="tabs-panel is-active" id="panel1">
        <p> </p>
        <%= bar_chart @trainings.joins(:barre_type).group(:name).count, colors: ["#F36B75"], label: "Total Classes" %>
      </div>
      <div class="tabs-panel" id="panel2">
        <%= column_chart @trainings.group_by_day_of_week(:date, format: "%a").count, colors: ["#B0A9B0"], label: "Total Classes" %>
      </div>
      <div class="tabs-panel" id="panel3">
        <%= pie_chart @trainings.joins(:instructor).group(:full_name).count, donut: true, colors: ["#F36B75", "#FEA3A2", "#D2C9CC", "#FF8383", "#B0A9B0"] %>
      </div>
      <div class="tabs-panel" id="panel4">
        <%= pie_chart @trainings.joins(:timeslot).group(:start_time).count, colors: ["#F36B75", "#FEA3A2", "#D2C9CC", "#FF8383", "#B0A9B0"] %>
      </div>
    </div>

      <div class="row">
        <div class="columns">
          <div class="callout">
            <table style="width:100%" class="hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Class</th>
                  <th>Instructor</th>
                </tr>
              </thead>
              <tbody>
                <% @trainings.order('date').each do |training| %>
                  <tr data-link="<%= training_path(training) %>" id="show-<%= training.id %>">
                    <td><span><%= training.date.strftime("%B %d %Y") %></span></td>
                    <td><span><%= training.timeslot.start_time %> - <%= training.timeslot.end_time %></span></td>
                    <td><span><%= training.barre_type.name %></span></td>
                    <td><span><%= training.instructor.full_name %></span></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
